/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [Id]
      ,[QuestionCategory]
      ,[Question]
      ,[Answer1]
      ,[Answer2]
      ,[Answer3]
      ,[Answer4]
      ,[CorrectAnswer]
      ,[CategoryId]
  FROM [Quiz].[dbo].[Questions]